use strict;
+{
    'twitter_id'      => 'your_twitter_id', 
    'twitter_pass'    => 'your_twitter_pass',
    'yancha_url'      => 'http://yancha.hachiojipm.org',
    'sound'           => 1,
    'display_log'     => 0,
    'yomiage'         => 1,
    'yomiage_rate'    => 100,
};

